/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #2e5090;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
}

.button {
  @apply bg-primary text-white border border-primary py-1.5 px-4 rounded-sm cursor-pointer disabled:opacity-80 disabled:cursor-not-allowed;
}

.outline-button {
  @apply bg-transparent text-primary border border-primary py-1.5 px-4 rounded-sm cursor-pointer;
}

.label{
    @apply block text-sm font-bold mb-2;
}

.input {
  @apply appearance-none bg-gray-100 rounded-sm w-full text-base py-3 px-4 outline-none;
}

.active-link {
  border-bottom: 2px solid var(--color-primary);
  font-weight: 600;
}

.error{
    @apply text-red-500 text-sm italic mt-3;
}

/* Hero */
.hero {
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  height: 100%;
  /* left: calc(50% - 1440px / 2); */
  /* top: calc(50% - 596px / 2 - 723.5px); */

  background: linear-gradient(
    101.41deg,
    rgba(197, 153, 229, 0.36) -33.13%,
    rgba(197, 153, 229, 0) 48.49%,
    rgba(226, 204, 242, 0.48) 125.81%
  );
  z-index: -1;
  /* border: 1px solid #000000; */
}
