<div class="bg-white shadow-md py-4 px-5 rounded-sm space-y-2 relative border border-gray-200">
  <h5 class="text-xs">{{ job?.employerProfile?.companyName }}</h5>
  <h2 class="text-xl font-medium">{{ job?.jobTitle }}</h2>
  <span class="font-bold text-xs bg-blue-500/15 px-2 py-1.5 rounded-sm">${{job?.salaryMin}}-${{job?.salaryMax}}</span>
  <p class="text-xs mt-2 line-clamp-4">
    {{job?.jobSummary}}
  </p>
  <div class="absolute top-3 right-2">
    <lucide-angular [name]="Bookmark" size="20"></lucide-angular>
  </div>
</div>
