<nav class="py-5 px-8 flex justify-between items-center shadow-sm">
  <div><img src="/images/logo.webp" alt="" class="w-36" /></div>
  <div class="flex-1 flex justify-center">
    <ul class="flex gap-8">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li>
        <a
          routerLink="/find-jobs"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Find Jobs
        </a>
      </li>
      <li>
        <a
          routerLink="/post-job"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Post Job
        </a>
      </li>
    </ul>
  </div>
  <div class="flex items-center gap-2">
    @if(isAuthenticated){

    <img
      id="avatarButton"
      type="button"
      data-dropdown-toggle="userDropdown"
      data-dropdown-placement="bottom-start"
      class="w-10 h-10 rounded-full cursor-pointer"
      src="/images/profile-picture.jpg"
      alt="User dropdown"
    />

    <!-- Dropdown menu -->
    <div
      id="userDropdown"
      class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
    >
      <div class="px-4 py-3 border-b border-default-medium text-sm text-heading">
        <div class="font-medium">Bonnie Green</div>
        <div class="truncate">name@flowbite.com</div>
      </div>
      <ul class="p-2 text-sm text-body font-medium" aria-labelledby="avatarButton">
        <li>
          <a
            href="#"
            class="block w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded-md"
            >Dashboard</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded-md"
            >Settings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded-md"
            >Earnings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block w-full p-2 hover:bg-neutral-tertiary-medium text-fg-danger rounded-md"
            >Sign out</a
          >
        </li>
      </ul>
    </div>

    }@else {
    <a routerLink="/sign-in">
      <button class="button">Sign In</button>
      {{ isAuthenticated ? 'Logged In' : 'Guest' }}
    </a>
    }
  </div>
</nav>
