<div class="relative w-full h-[85vh]">
  <div class="hero"></div>
  <div class="grid grid-cols-12 justify-center py-8 px-24">
    <div class="col-span-6 flex flex-col justify-center gap-3">
      <span class="text-primary rounded-2xl w-fit font-semibold">2K+ Active Users</span>
      <h1 class="text-5xl font-semibold leading-16">
        Find a job that aligns with your interests and skills
      </h1>
      <p class="text-base opacity-70">Thousands of jobs waiting for you!</p>
      <div class="flex gap-4">
        <a routerLink="/find-jobs">
          <button class="button">Browse Jobs</button>
        </a>
        <a href="#howItWorks">
          <button class="outline-button">How it Works</button>
        </a>
      </div>
    </div>
    <div class="col-span-5">
      <img src="/images/hero.webp" alt="" class="w-full h-full" />
    </div>
  </div>
</div>
